<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="batl.sinav" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\sinav.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="SinavT.Properties.Settings.sinavConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\sinav.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="batl.bos" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\yedek\bos.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="batl.yedek"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\yedekler.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>